@font-face {
    font-family: ZeroCool;
    src: url("../../fonts/ZeroCool/ZeroCool.otf") format("opentype");
    font-weight: 125 950;
    font-style: normal;
}

@font-face {
    font-family: Caveat;
    src: url("../../fonts/Caveat/Caveat-VariableFont_wght.ttf") format("opentype-variations");
    font-weight: 125 950;
    font-style: normal;
}

@font-face {
    font-family: ShantellSansItalic;
    src: url("../../fonts/Shantell_Sans/ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf") format("opentype-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: ShantellSans;
    src: url("../../fonts/Shantell_Sans/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf") format("opentype-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}
